---
title: Advisory Committee
listed: true
published: true
position: 4
---
{% extends parent %}

{% block content/main %}

{% for member in contents.members %}
{% if member.tags %}
{% if member.tags contains "advisory" %}
.media
  .media-body
    %h4.mb-4.text-primary 
      {{member.name}} -
      %small {{member.title}}
    %p.mb-4 {{member.bio}}
{% endif %}
{% endif %}
{% endfor %}


{% endblock %}