---
title: Staff & Property Management
listed: true
published: true
position: 1
---
{% extends parent %}

{% block 'content/main' %}

{% for member in contents.members %}

.media
  .media-body
    %h4.mb-3.text-primary 
      {{member.name}}
      %small {{member.title}}
    %p.mb-4 {{member.bio}}

{% endfor %}

{% endblock %}



