


.row.no-gutters
  .col-sm-6
    %section.text-center.bg-info{style: "background: url(/images/gabriel-santiago-1598-unsplash.jpg) center center; background-size: cover; height: 350px;"}
      .overlay-with-gradient.blue.transparent
      .container{style: "position:relative; top: 50%; transform: translateY(-50%);"}
        .row
          .col-sm-8.mx-auto 
            %h3.mb-4.text-white Mission & Goals
            %p.mb-3.lead 
              If you have a question that you do not see on the FAQ list, please contact us to find out more. We will reach out with an answer to your question and it may even make the FAQ.
            %a.text-white{href: '/contact-us', style: "text-decoration:underline;"} Go to the contact form
  .col-sm-6
    %section.text-center.bg-info{style: "background: url(/images/gabriel-santiago-1598-unsplash.jpg) center center; background-size: cover; height: 350px;"}
      .overlay-with-gradient.orange.transparent
      .container{style: "position:relative; top: 50%; transform: translateY(-50%);"}
        .row
          .col-sm-8.mx-auto 
            %h3.mb-4.text-white Vision & Values
            %p.mb-3.lead 
              If you have a question that you do not see on the FAQ list, please contact us to find out more. We will reach out with an answer to your question and it may even make the FAQ.
            %a.text-white{href: '/contact-us', style: "text-decoration:underline;"} Go to the contact form