%h5.text-primary.mb-4.ml-3.mt-5.mt-sm-0 Learn More
%nav.nav.flex-column.side-nav
  {% for child in page.parent.children %}
  %a{class: "text-primary p-3 {% if child.fullpath == page.fullpath %}active{% endif %}", href: "{% path_to child %}" } {{ child.title }}
  {% endfor %}