%section.fat-header.bg-secondary{style: "background: url({% capture image_url %}{% editable_file 'header_image' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'neighbourhood.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
  .overlay-with-gradient.blue.transparent
  .container
    %h1.mb-1.text-center {{ page.title }}
    %p.lead.mb-0.text-center 
      {% editable_text "subheader", format: raw, rows: 2 %}
      Insert snazzy catchy subheader here
      {% endeditable_text %}
