
%section.footer.bg-primary
  .overlay-with-gradient.blue
  .container
    .row
      .col-sm-4.mb-5.mb-sm-0
        %h5.mb-4 About
        %p.mb-0 CIRES is a social enterprise designed to operate a balanced commercial property portfolio that leases space for uses that will ensure affordable goods and services are available to low income residents.

      .col-sm-7.ml-auto
        .row
          .col-sm-4.mb-5.mb-sm-0
            %h5.mb-4 Purpose
            %nav.nav.flex-column
              %a.nav-link.py-1.px-0{href: "/purpose/mission-and-goals"} Mission & Goals
              %a.nav-link.py-1.px-0{href: "/purpose/community-issues"} Community Issues
              %a.nav-link.py-1.px-0{href: "/purpose/vision-and-values"} Vision & Values
              %a.nav-link.py-1.px-0{href: "/purpose/faq"} F.A.Q.
          .col-sm-4.mb-5.mb-sm-0
            %h5.mb-4 People
            %nav.nav.flex-column
              %a.nav-link.py-1.px-0{href: "/people/staff"} Staff
              %a.nav-link.py-1.px-0{href: "/people/property-management"} Property Management
              %a.nav-link.py-1.px-0{href: "/people/board"} Board of Directors
              %a.nav-link.py-1.px-0{href: "/people/advisory-committee"} Advisory Committee
          .col-sm-4.mb-0
            %h5.mb-4 Portfolio
            %nav.nav.flex-column
              %a.nav-link.py-1.px-0{href: "/portfolio/general-description"} General Description
              %a.nav-link.py-1.px-0{href: "/portfolio/available-units"} Available Units
              %a.nav-link.py-1.px-0{href: "/portfolio/selection-criteria"} Tenant Selection Criteria
              %a.nav-link.py-1.px-0{href: "/contact-us"} Contact Us

