%footer.footer.bg-primary.py-5
  .container
    .row.justify-content-center

      .col-sm-3
        %h6.mb-4.text-white Portfolio
        %nav.nav.flex-column
          %a.nav-link.py-1.text-white.px-0{href: "#"} General Description
          %a.nav-link.py-1.text-white.px-0{href: "#"} Available Units
          %a.nav-link.py-1.text-white.px-0{href: "#"} Tenant Selection Criteria
          %a.nav-link.py-1.text-white.px-0{href: "#"} Request Information




      .col-sm-3
        %h6.mb-4.text-white Purpose
        %nav.nav.flex-column
          %a.nav-link.py-1.text-white.px-0{href: "#"} Downtown Eastside Issues
          %a.nav-link.py-1.text-white.px-0{href: "#"} Healthy City Plan
          %a.nav-link.py-1.text-white.px-0{href: "#"} Mission & Goals
          %a.nav-link.py-1.text-white.px-0{href: "#"} Frequently Asked Questions

      .col-sm-3
        %h6.mb-4.text-white People
        %nav.nav.flex-column
          %a.nav-link.py-1.text-white.px-0{href: "#"} Board of Directors
          %a.nav-link.py-1.text-white.px-0{href: "#"} Staff
          %a.nav-link.py-1.text-white.px-0{href: "#"} Advisory Committee
          %a.nav-link.py-1.text-white.px-0{href: "#"} Engagement Process
      .col-sm-3
        %img.img-fluid{src: "/images/logo-square-transparent-dark.png"}



