
%section.footer.bg-primary
  .overlay-with-gradient.blue
  .container
    .row
      .col-sm-4.mb-5.mb-sm-0
        %h5.mb-4 Purpose
        %nav.nav.flex-column
          %a.nav-link.py-1.px-0{href: "#"} Mission & Goals
          %a.nav-link.py-1.px-0{href: "#"} Community Issues
          %a.nav-link.py-1.px-0{href: "#"} Vision & Values
          %a.nav-link.py-1.px-0{href: "#"} Frequently Asked Questions
      .col-sm-4.mb-5.mb-sm-0
        %h5.mb-4 People
        %nav.nav.flex-column
          %a.nav-link.py-1.px-0{href: "#"} Staff & Property Management
          %a.nav-link.py-1.px-0{href: "#"} Board of Directors
          %a.nav-link.py-1.px-0{href: "#"} Advisory Committee
          %a.nav-link.py-1.px-0{href: "#"} Community Engagement
      .col-sm-4.mb-0
        %h5.mb-4 Portfolio
        %nav.nav.flex-column
          %a.nav-link.py-1.px-0{href: "#"} General Description
          %a.nav-link.py-1.px-0{href: "#"} Available Units
          %a.nav-link.py-1.px-0{href: "#"} Tenant Selection Criteria
          %a.nav-link.py-1.px-0{href: "#"} Request Information

