%nav.navbar.navbar-expand-sm.navbar-light.bg-white.p-0.main-nav
  .container.p-0
    %a.navbar-brand.m-0.p-0{href: "{% path_to home %}"}
      %img{src: "{{ 'CommImpactLogo_standard.png' | theme_image_url }}", style: "width: 350px;"}

    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse
      %ul.nav.ml-auto
        {% for page_in_nav in site.pages %}
        {% if page_in_nav.depth == 1 %}
        {% if page_in_nav.listed? == true %}

        {% if page_in_nav.children.size > 0 %}

        %li.nav-item.dropdown
          %a{class: "text-primary dropdown-toggle nav-link px-4 {% if page.fullpath == page_in_nav.fullpath or page_in_nav.title == page.parent.title %}active{% endif %}", href: "{% path_to page_in_nav %}",  "data-toggle" => "dropdown", style:"padding: 2.65rem 0rem;"  } 
            %span {{ page_in_nav.title }}       
          .dropdown-menu.p-0.rounded-0.border-0
            {% for child in page_in_nav.children %}
            %a.dropdown-item.p-3{:href => "{% path_to child %}"} {{ child.title }}
            {% endfor %}

        {% else %}
        %li.nav-item
          %a{class: "text-primary nav-link px-4 {% if page.fullpath == page_in_nav.fullpath or page_in_nav.title == page.parent.title %}active{% endif %}", href: "{% path_to page_in_nav %}", style:"padding: 2.65rem 0rem;" } 
            %span {{ page_in_nav.title }}

        {% endif %}

        {% endif %}
        {% endif %}
        {% endfor %}
