.d-flex.flex-column.flex-md-row.align-items-center.px-md-4.bg-info
  .container
    %nav.nav
      %div.py-1.py-sm-2.pr-sm-4.pl-0.mr-auto
        {% editable_text "address", format: raw, rows: 2 %}
        %i.fa.fa-map-marker.text-white.mr-2
        %a.text-white{href:"http://maps.google.com/?q=337 Gore Avenue Vancouver, BC V6A 2Z3"} 337 Gore Avenue Vancouver, BC V6A 2Z3
        {% endeditable_text %}
      %div.py-1.py-sm-2.px-sm-4
        {% editable_text "phone", format: raw, rows: 2 %}
        %i.fas.fa-phone.text-white.mr-2
        %a.text-white{href:"tel:1-800-123-4567"} 1-800-123-4567
        {% endeditable_text %}
      %div.py-1.py-sm-2.px-sm-4
        {% editable_text "email", format: raw, rows: 2 %}
        %i.far.fa-envelope.text-white.mr-2
        %a.text-white{href:"mailto:info@communityimpactrealestate.com"} info@communityimpactrealestate.com
        {% endeditable_text %}

