$brand-blue-dark: #014C69;
$brand-orange-dark: #DE8032;
$brand-blue-medium: #076F96;
$brand-orange-medium: #F89621;
$brand-blue-light: #cde2ea;
$brand-orange-light: #fdead2;
$brand-grey-medium: #808284;
$brand-grey-light: #dbdcde;
$black: #000;

