---
title: Community Issues
listed: true
published: true
position: 2
---
{% extends layouts/sidebar %}
{% block content/freetext %}
.freetext
  %p CIRE vision and mission works towards addressing and contributing to Vancouver’s Community Economic Development (CED) strategy for the inner city. CIRE is committed to ensuring that the uniqueness of the inner city is recognized in its operations, and special tools and approaches are created to maintain the existing neighbourhood character and revitalize the area, without displacement of residents, to achieve a healthy neighbourhood for all.

  %p Many organizations and levels of government have been working to improve the quality of life in inner city for many years. The City of Vancouver and BC Housing are key partners in addressing community economic development and affordable housing for residents and business owners in the inner city.

  %p The non-market tenants in the commercial portfolio are social enterprises, non-profits and businesses that address critical community health issues and focus on reversing the impacts of social isolation, limited employment opportunities and unaffordable retail and service options for low-income residents in Vancouver’s DTES.
{% endblock %}
{% block content/main %}
{% endblock %}

