---
title: Page not found
published: true
---
{% extends 'layouts/default' %}

{% block featured_image %}
%section.fat-header.bg-secondary{style: "background: url({{ 'dtvan.jpg' | theme_image_url }}) center center; background-size: cover;"}
  .overlay-with-gradient.blue.transparent
  .container.home-text.center-vh
    %h1.mb-4.display-4.font-weight-bold.text-white
      Page Not Found
    %p.lead.mb-0.text-white 
      We're sorry but the page you are looking for either does not exist or the link is incorrect.
{% endblock %}
