---
title: Contact Us
listed: true
published: true
position: 5
---
{% extends layouts/sidebar %}


{% block top_msg %}
{% include top_callout %}
{% endblock %}

{% block content/sidebar %}
.bg-light.p-4.mb-5.mt-5.mt-sm-0
  %h5.mb-3.py-2.text-primary {% editable_text "sidebar header", format: raw, rows: 2 %}Still have questions?{% endeditable_text %}
  %p.mb-0
    {% editable_text "sidebar blurb", format: raw, rows: 3 %}
    Please refer to the 
    %a{href: "/portfolio/selection-criteria", style: "text-decoration:underline;"} tenant selection criteria 
    and the 
    %a{href: "/purpose/faq", style: "text-decoration:underline;"} frequently asked questions 
    before contacting CIRE. If you still have questions and are interested in leasing one of our units please contact us.
    {% endeditable_text %}
{% endblock %}

{% block content/main %}

{% if message.errors %}
.alert.alert-danger.alert-dismissible.fade.show.mb-4
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h5 Form Submission Errors
  %ul.mb-0
    {% for error in message.errors %}
    %li {{error[0] | capitalize}} -  {{error[1]}}
    {% endfor %}
{% endif %}

%form{:action => "{{contents.messages.public_submission_url}}", :method => "post"}
  {% csrf_param %}
  %input{:name => "success_callback", :type => "hidden", :value => "/?form=success"}/
  %input{:name => "error_callback", :type => "hidden", :value => "{% path_to page %}"}/
  %input{:name => "form-type", :type => "hidden", :value => "contact"}/
  .form-group
    %label.control-label{:for => "mailform-input-name"} Name
    %input.form-control{:name => "content[name]", :type => "text", :value => "{{ message.name }}"}/
  .form-group
    %label.control-label Email
    %input.form-control{:name => "content[email]", :type => "email", :value => "{{ message.email }}"}/
  .form-group
    %label.control-label Message
    %textarea.form-control{:name => "content[body]", :rows => "5"} {{ message.body }}
  .form-group.mb-0
    %button.btn.btn-info{:type => "submit"} Send Message

{% endblock %}
