---
title: Home
published: true
handle: home
---
{% extends 'layouts/default' %}

{% block featured_image %}
%header.featured-image-large.callout-wide.homepage{style: "background: url({{ 'dtvan.jpg' | theme_image_url }}) center center; background-size: cover;"}
  .overlay-with-gradient.blue.transparent
  .container.home-text
    %h1.mb-4.display-4.font-weight-bold.text-white
      {% editable_text "pageheader", format: raw, rows: 2 %}
      Healthy, Empowered 
      %br
      Communities
      {% endeditable_text %}
    %p.lead.mb-0.text-white 
      {% editable_text "pagesubheader", format: raw, rows: 2 %}
      Capacity building challenges and opportunities improve the world
      %br
      impact shared unit of analysis progress B-corp emerging.
      {% endeditable_text %}
{% endblock %}

{% block content %}

%section.bg-white
  .container
    .row
      .col-sm-10.mx-auto 
        %h3.text-center.mb-4.text-primary {% editable_text "subheader", format: raw, rows: 2 %} What We Do {% endeditable_text %}
        %p.mb-0.lead.text-center {% editable_text "statement", format: raw, rows: 4 %} Community Impact Real Estate contributes to the efforts of building an inclusive local economy by using the space in our portfolio to provide affordable goods, services, social service support and employment opportunities for the residents in the communities within which we work. {% endeditable_text %}

    %hr.section-divider

    .row
      .col-sm-4
        .feature-column-content.px-3
          %h5.mb-3.text-primary {% editable_text "Col 1 Header", format: raw, rows: 1 %}Purpose{% endeditable_text %}
          %p.mb-3  {% editable_text "col 1 blurb", format: raw, rows: 3 %}Social intrapreneurship dynamic, social entrepreneurship, strengthening infrastructure social intrapreneurship capacity building philanthropy.{% endeditable_text %}
          %a.text-underline{:href => "/purpose"} Read More
      .col-sm-4
        .feature-column-content.px-3
          %h5.mb-3.text-primary {% editable_text "Col 2 Header", format: raw, rows: 1 %}Portfolio{% endeditable_text %}
          %p.mb-3  {% editable_text "col 2 blurb", format: raw, rows: 3 %}Social intrapreneurship dynamic, social entrepreneurship, strengthening infrastructure social intrapreneurship capacity building philanthropy.{% endeditable_text %}
          %a.text-underline{:href => "/portfolio"} Read More
      .col-sm-4
        .feature-column-content.px-3
          %h5.mb-3.text-primary {% editable_text "Col 3 Header", format: raw, rows: 1 %}People{% endeditable_text %}
          %p.mb-3  {% editable_text "col 3 blurb", format: raw, rows: 3 %}Social intrapreneurship dynamic, social entrepreneurship, strengthening infrastructure social intrapreneurship capacity building philanthropy.{% endeditable_text %}
          %a.text-underline{:href => "/people"} Read More



{% include newsletter_signup %}  

{% include news_list %}

{% endblock %}


