---
title: Home
published: true
handle: home
---
{% extends 'layouts/splash' %}

{% block body %}
.featured-image-large.bg-primary{style: "background: url(/images/neighbourhood.jpg) center center; background-size: cover;"}
  .overlay
  .container
    %h1.mb-0.text-white.text-uppercase.display-4.font-weight-bold 
      Healthy, Empowered
      %br
      Communities

/ .bg-info.py-5.text-white
/   .container
/     %p.mb-0.lead Community Impact Real Estate (CIRE) envisions healthy, empowered communities that value social inclusion, have thriving local serving economies and provide dignity and opportunity to all residents regardless of ability and income level.
.container.my-5
  .row.mb-5
    .col-sm-6
      .goalbox.media
        %span.ln.ln-icon-Megaphone.text-primary.mr-4
        .media-body
          %h4.mb-4.text-primary.font-weight-normal Community Informed
          %p.mb-0 Our actions and decisions are based on community identified needs, interests and opportunities.
    .col-sm-6
      .goalbox.media
        %span.ln.ln-icon-Handshake.text-primary.mr-4
        .media-body
          %h4.mb-4.text-primary.font-weight-normal Collaboration    
          %p.mb-0 Respectful, active collaboration anchors our work in community.
  .row.mb-5
    .col-sm-6
      .goalbox.media
        %span.ln.ln-icon-Environmental-3.text-primary.mr-4
        .media-body
          %h4.mb-4.text-primary.font-weight-normal Sustainable
          %p.mb-0 We are accountable to those who contribute to help us achieve our mission and to those we serve. This accountability applies to and for operating a business that has a positive impact on the environment.
    .col-sm-6
      .goalbox.media
        %span.ln.ln-icon-MaleFemale.text-primary.mr-4
        .media-body
          %h4.mb-4.text-primary.font-weight-normal Inclusive
          %p.mb-0 Fundamentally, all individuals have value and are deserving of respect and dignity. We commit to operating in community, respectful of diverse traditions, heritages, and experiences.


.bg-light.py-5
  .container
    %h2.mb-4.text-primary Latest Updates
    .posts.row
      {% for post in contents.posts limit: 3 %}
      .post-listing.col-sm-4
        {% if post.featured_image.url %}
        .featured-image.mb-3{style: "background: url({{ post.featured_image.url }}) center center; background-size: cover; height: 200px;"}
        {% endif %}
        .caption
          %h4.text-primary {{ post.title | escape }}
          %p.teaser {{ post.teaser }}
          %a{:href => "/posts/{{ post._slug }}", style: "text-decoration: underline; font-size: 1.125rem;"} Read More
      {% endfor %}
{% endblock %}


