---
title: News
listed: true
published: true
position: 4
display_settings:
   hidden: true         
---
{% extends layouts/blank %}

{% block top_msg %}

{% endblock %}

{% block content/main %}
.posts.row
  {% for post in contents.posts %}
  .col-md-4.col-sm-6
    .post-listing.px-2.mb-5
      {% if post.featured_image.url %}
      .featured-image.mb-3{style: "background: url({{ post.featured_image.url }}) center center; background-size: cover; height: 200px;"}
      {% endif %}
      .caption
        %h5.text-primary.mb-0 {{ post.title | escape }}
        .text-info.my-2 {{ post.posted_at | date: "%A, %B %d, %Y" }}
        %p.teaser.text-primary {{ post.teaser }}
        %a.text-underline{:href => "/posts/{{ post._slug }}"} Read More
  {% endfor %}
{% endblock %}

