---
title: Full width
is_layout: true
---
{% extends layouts/default %}

{% block featured_image %}
{% include fat_header %}
{% endblock %}


{% block content %}

{% block split %}
{% endblock %}

%section
  .container
    {% block main %}
    {% endblock %}
    {% block fullwidth %}
    {% endblock %}
    {% block freetext %}
    .freetext
      {% editable_text "Freetext", rows: 10 %}
      {% endeditable_text %}
    {% endblock %}



{% endblock %}


