---
title: News
is_layout: false
---

{% extends 'layouts/default' %}

{% block content %}
%section
  .container
    .row.justify-content-center
      .col-sm-8
        {% block main %}
        {% endblock %}
      .col-sm-4
        .row
          .col-sm-10.mx-auto
            {% block sidebar %}
            {% endblock %}
{% endblock %}

{% block callout %}
{% include newsletter_signup %}
{% endblock %}