---
title: Sidebar
is_layout: true
---

{% extends layouts/default %}

{% block top_msg %}
{% include top_callout %}
{% endblock %}

{% block featured_image %}
{% include slim_header %}
{% endblock %}

{% block content %}
%section
  .container
    .row
      .col-sm-8.mr-auto
        .freetext
          {% editable_text "Freetext", rows: 10 %}
          {% endeditable_text %}
        {% block main %}
        {% endblock %}
        {% block list %}
        {% endblock %}
      .col-sm-4
        .row
          .col-sm-10.mx-auto
            {% block sidecontent %}
            {% endblock %}
            {% block sidebar %}
            {% include child_nav %}
            {% endblock %}
            {% editable_text "Freetext Sidebar", rows: 5 %}
            {% endeditable_text %}
    .row
      .col-sm-12
        {% block center_callout %}
        {% endblock %}
{% endblock %}

{% block 'callout' %}
{% include 'newsletter_signup' %}
{% endblock %}      
