---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}


.container
  .row
    .col-sm-3
      %nav.nav.flex-column.mt-5.side-nav
        {% for child in page.children %}
        %a{class: "border-bottom text-primary py-2 px-3 {% if child.fullpath == page.title %}active{% endif %}", href: "{% path_to child %}" } {{ child.title }}
        {% endfor %}

    .col-sm-8.ml-auto

      %img.img-fluid.my-5{src: "holder.js/100px300"}
      %h5.mb-3.text-primary Or social intrapreneurship, deep dive and shared unit of analysis parse social entrepreneur benefit corporation initiative.
      %p Or social intrapreneurship, deep dive and shared unit of analysis parse social entrepreneur benefit corporation initiative. Catalyze, systems thinking preliminary thinking unprecedented challenge strengthening infrastructure. Human-centered, design thinking strengthening infrastructure effective when. Support, then, indicators granular; deep dive, collective impact radical fairness resilient. Challenges and opportunities inclusive expose the truth effective altruism impact mobilize triple bottom line effective altruism shared unit of analysis. Justice humanitarian, storytelling collaborative cities low-hanging fruit. 
      %p Indicators, unprecedented challenge, collaborate, humanitarian uplift invest mobilize compelling ideate. Energize engaging collaborate inspirational innovate correlation scale and impact program areas. The resistance NGO innovation social capital targeted. Empower communities citizen-centered; families families think tank white paper commitment equal opportunity communities. Challenges and opportunities, strengthening infrastructure scale and impact boots on the ground black lives matter inspire. Incubator grit, systems thinking, and sustainable. Because or emerging, a invest, innovate, because; catalyze improve the world. Transparent invest, co-create collective impact, strategize


/ {% block header, short_name: true, priority: 1 %}
/ .container
/   .jumbotron
/     {% editable_text jumbotron, rows: 5, priority: 1 %}
/     %h1 Wagon bootstrap template
/     %p This is a simple site with editable sections like this one. No content types.
/     {% endeditable_text %}
/ {% endblock %}

/ .container
/   {% block main, short_name: true %}
/   .row
/     .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
/       {% editable_text body %}
/       %p
/         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
/       %p
/         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
/       {% endeditable_text %}
/   {% endblock %}
{% endblock %}
