---
title: Tenant Selection Criteria
listed: true
published: true
position: 3
---
{% extends parent %}

{% block main %}
{% endblock %}

{% block content/list %}

{% for criterion in contents.criteria %}
.goalbox.media
  %i.icon-check.text-primary.mr-4
  .media-body
    %h4.mb-4.text-primary {{ criterion.title }}
    %p.mb-4 {{ criterion.body }}
{% endfor %}
{% endblock %}


